.homePageEstudent{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.homePageEstudent-card{
    background: #FAC14B;
    border-radius: 4px;
    text-align: center;
    width: 80%;
    height: 140px;
    display: flex;
    flex-direction: column;
    place-items: center;
    position: relative;
}

.homePageEstudent-card a{
    position: absolute;
    top: 44px;
}