.callActionPrincipalPage{
    background: rgba(255, 248, 229, 0.72);
    border-radius: 4px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    height: auto;
    max-width: 778px;
}

.callActionPrincipalPage-form{
    margin-top: 2rem;
    padding: 8%;
    background: #FFFFFF;
    width: 86%;
    border-radius: 4px;
    text-align: center;
}

.callActionPrincipalPage-form textarea{
    border: 1px black solid;
}