.principalPage{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.demo{
    width: 100vw;
    position: relative;
    max-width: 790px;
}

.principalPage-benefits_table{
    width: 94vw;
    margin-left: 4%; 
    max-width: 770px;
}


.titleCreative{
    margin: -1vw 0vw 4vw;
    width: 100vw;
    max-width: 784px;
}