.createGameMenu,
.createGame{
    display: flex;
    flex-direction: column;
    place-items: center;
    margin: 4%;
    gap: 2rem;
    background: #FAC14B;
    border-radius: 4px;
    padding: 4%;
}

.cardGame{
    display: flex;
    gap: 1rem;
    background: #FBF9F9;
    border-radius: 4px;
    margin-top: 12%;
    padding: 4%;
}

.cardGame img{
    object-fit:contain;
}

.cardGame-game_information{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}

.space_Name{
    margin-top: 4%;
}

.space_CreateQuestion{
    display: grid;
    width: 100%;
    /*grid-template-columns: 38vw 1fr;*/
    gap: 2rem;
}

.space_CreateQuestion-questions{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.space_CreateQuestion-canvas{
    margin: 0 8%;
    width: 87%;
}