*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  background-image: url(./assets/img/fondo.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #50d1cb;
}

button{
  background: #83DB29;
  border-radius: 50px;
  padding: 4%;
  border: none;
  cursor: pointer;
}

.buttonLink{
  background: #83DB29;
  border-radius: 50px;
  padding: 12px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: black;
  height: 40px;
  text-align: center;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

button:hover{
  background: #26F0DF;
}

input{
  border-radius: 4px;
}