.singUpEstudent{
    background: #FAC14B;
    border-radius: 4px;
    margin: 4%;
    padding: 4%;
    max-width: 480px;
}

.singUpEstudent-firstPart,
.singUpEstudent-secondPart{
    display: flex;
    flex-direction: column;
    gap: 2%;
    text-align: center;
    margin-bottom: 4%;
}

.singUpEstudent-buttons{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 8%;
}